<template>
  <div class="home">
    <jspdf/>
  </div>
</template>

<script>
// @ is an alias to /src
import jspdf from '../components/jspdf.vue'

export default {
  name: 'Home',
  components: {
    jspdf
  }
}
</script>
