<template>
	<div id="app" ref="document">
		<v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
           CPF
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Joao</td>
          <td>077.055.066-5</td>
		</tr>
		<tr>
          <td>Maria</td>
          <td>074.011.066-5</td>
		</tr>
      </tbody>
    </template>
  </v-simple-table>
		<button @click="exportToPDF">Export to PDF</button>
	</div>
	
</template>

<script>
	import html2pdf from 'html2pdf.js'
	
	export default {
    name: 'app',
		methods: {
			exportToPDF () {
				html2pdf(this.$refs.document, {
					margin: 1,
					filename: 'document.pdf',
					image: { type: 'jpeg', quality: 0.98 },
					html2canvas: { dpi: 192, letterRendering: true },
					jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
				})
			}
		}
  }
</script>

<style>
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}
</style>