<template>
  <div id="app" ref="document">
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">CPF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Joao</td>
            <td>077.055.066-5</td>
          </tr>
          <tr>
            <td>Maria</td>
            <td>074.011.099-5</td>
          </tr>
          <tr>
            <td>Douglas</td>
            <td>088.066.044-8</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <button @click="generarPDF">Download PDF</button>
  </div>
</template>

<script>
import jsPDF from "jspdf";
import $ from "jquery";
export default {
  name: "app",
  methods: {
   async generarPDF() {
      let doc = new jsPDF();
      let specialElementHandlers = {
        "#hidebtn": function () {
          return true;
        },
      };
      doc.html($("#app").get(0), {
        callback: function (doc) {
          doc.save("comprobante.pdf");
        },
        x: 10,
        y: 10,
        width: 190,
        windowWidth: 500,
        elementHandlers: specialElementHandlers,
      });
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>