<template>
  <div>
    <button @click="downloadWithCSS">Download PDF</button>
  </div>
</template>

<script>
import jsPDF from "jspdf";
import autoTable from "jspdf-autotable";
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  methods: {
    downloadWithCSS() {
      const doc = new jsPDF();
      autoTable(doc, { html: "#my-table" });
      doc.autoTable({
        theme: "grid",
        styles: { lineColor: 0 },

        head: [["ID", "Nome", "Email", "País", "IP-address"]],
        body: [
          ["1", "Donna", "dmoore0@furl.net", "China", "211.56.242.221"],
          ["2", "Janice", "jhenry1@theatlantic.com", "Ukraine", "38.36.7.199"],
          ["3","Ruth","rwells2@constantcontact.com","Trinidad and Tobago","19.162.133.184",],
          ["4", "Jason", "jray3@psu.edu", "Brazil", "10.68.11.42"],
          ["5", "Jane", "jstephens4@go.com", "United States", "47.32.129.71"],
          ["6", "Adam", "anichols5@com.com", "Canada", "18.186.38.37"],
          ["7", "Josias", "caroliss5@com.com", "Brasil", "44.181.22.37"],
          ["8", "Alessandra", "alessandras@com.com", "Brasil", "56.181.22.37"],
          ["9", "Jaime", "jaimeqw@com.com", "Brasil", "88.181.22.37"],
          ["10", "Ricardo", "ricardo@com.com", "Brasil", "05.181.22.21"],
          ["11", "Renato", "renato@com.com", "Brasil", "66.181.22.32"],
          ["12", "Maria", "maria5@com.com", "Brasil", "45.181.22.45"],
          ["13", "Donna", "dmoore0@furl.net", "China", "211.56.242.221"],
          ["14", "Janice", "jhenry1@theatlantic.com", "Ukraine", "38.36.7.199"],
          ["15","Ruth","rwells2@constantcontact.com","Trinidad and Tobago","19.162.133.184",],
          ["16", "Jason", "jray3@psu.edu", "Brazil", "10.68.11.42"],
          ["17", "Jane", "jstephens4@go.com", "United States", "47.32.129.71"],
        ],
      });
      doc.save("jspdf.pdf");
    },
  },
};
</script>

