<template>
  <div>
    <button @click="baixarPdf()">Download PDF</button>
  </div>
</template>
<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;
export default {
  data() {
    return {
      msg: "",
    };
  },
  methods: {
    baixarPdf() {
      var docDefinition = {
        content: [
          {
            layout: "lightHorizontalLines", // optional
            table: {
              // headers are automatically repeated if the table spans over multiple pages
              // you can declare how many rows should be treated as headers
              headerRows: 1,
              widths: ["*", "auto", 100, "*"],

              body: [
                ["Nome", "Email", "País", "CPF"],
                ["Janice", "jhenry1@theatlantic.com", "Ukraine", "38.36.7.199"],
                [
                  "Ruth",
                  "rwells2@constantcontact.com",
                  "Trinidad",
                  "19.162.133.184",
                ],
                ["Jason", "jray3@psu.edu", "Brazil", "10.68.11.42"],
                ["Jane", "jstephens4@go.com", "United", "47.32.129.71"],
                ["Adam", "anichols5@com.com", "Canada", "18.186.38.37"],
                ["Josias", "caroliss5@com.com", "Brasil", "44.181.22.37"],
                ["Alessandra", "alessandras@com.com", "Brasil", "56.181.22.37"],
                ["Jaime", "jaimeqw@com.com", "Brasil", "88.181.22.37"],
                ["Ricardo", "ricardo@com.com", "Brasil", "05.181.22.21"],
                ["Renato", "renato@com.com", "Brasil", "66.181.22.32"],
                ["Maria", "maria5@com.com", "Brasil", "45.181.22.45"],
                ["Donna", "dmoore0@furl.net", "China", "211.56.242.221"],
                ["Janice", "jhenry1@theatlantic.com", "Ukraine", "38.36.7.199"],
                [
                  "Ruth",
                  "rwells2@constantcontact.com",
                  "Trinidad",
                  "19.162.133.184",
                ],
                ["Jason", "jray3@psu.edu", "Brazil", "10.68.11.42"],
                ["Jane", "jstephens4@go.com", "United", "47.32.129.71"],

                [{ text: "Bold value", bold: true }, "Val 2", "Val 3", "Val 4"],
              ],
            },
          },
        ],
      };

      pdfMake.createPdf(docDefinition).download();
    },
  },
};
</script>