<template>
  <!-- or you can just wrap `vue-pdf-app` in <div> tag and set height for it via CSS (like in `Script tag (unpkg)` example below) -->
  <vue-pdf-app
    style="height: 100vh"
    pdf="https://file-examples-com.github.io/uploads/2017/10/file-example_PDF_1MB.pdf"
  ></vue-pdf-app>
</template>

<script>
import VuePdfApp from "vue-pdf-app";
// import this to use default icons for buttons
import "vue-pdf-app/dist/icons/main.css";

export default {
  components: {
    VuePdfApp,
  },
  data() {
    return {
      // disable "Previous page" button
      config: {
        toolbar: {
          toolbarViewerLeft: {
            previous: false,
          },
        },
      },

      // disable whole page navigation panel
      config2: {
        toolbar: {
          toolbarViewerLeft: false,
        },
      },

      // disable whole panel
      config3: {
        toolbar: false,
      },
    };
  },
};
</script>