<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">jspdf</router-link> |
      <router-link to="/jspdfExemplo2">jspdf Exemplo 2</router-link> |
      <router-link to="/jspdfExemplo3">jspdf Exemplo 3</router-link> |
      <router-link to="/Exemplo2">pdfmake</router-link> |
      <router-link to="/pdfmakeExemplo2">pdfmake Exemplo 2</router-link> |
      <router-link to="/Exemplo3">html2pdf</router-link> |
      <router-link to="/htmlpdfExemplo2">html2pdf Exemplo 2</router-link> |
      <router-link to="/Exemplo4">vue-pdf-app</router-link> |
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
